<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kii.demo.sync"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.kii.demo.sync.ui.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kii.demo.sync.ui.FilePickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="FilePicker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kii.demo.sync.ui.KiiFilePickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="KiiFileViewer"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kii.demo.sync.ui.FileTabActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/hello"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name="com.synclore.android.pfscsdk.PFSyncService" >
            <intent-filter>
                <action android:name="com.synclore.android.pfscsdk.ISessionManager" />
                <action android:name="com.synclore.android.pfscsdk.IChangeLogger" />
            </intent-filter>

            <meta-data
                android:name="com.synclore.android.pfscsdk.PFSyncService.preferences"
                android:resource="@xml/pfsyncservice_preferences" />
            <meta-data
                android:name="com.synclore.android.pfscsdk.PFSyncService.logconfig"
                android:resource="@xml/pfsyncservice_logconfig" />
        </service>

        <provider
            android:name="com.kii.sync.provider.GenericSyncProvider"
            android:authorities="com.kii.sync.generic.6b587cee"
            android:exported="false"
            android:label="Generic Sync Provider" >
            <meta-data
                android:name="app-key"
                android:value="82946bf6961f4e34d3a53bbc941ac115" />
        </provider>

        <activity android:name=".ui.SettingsActivity" >
        </activity>

        <service android:name="com.kii.cloud.sync.BackupService" >
        </service>

        <receiver android:name=".tasks.KiiRefReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ProgressListActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.FragmentTabsPager" >
        </activity>
    </application>

</manifest>